.rodape {
    background-color: #111625;
    color: #fff;
    /* padding: 20px; */
    /* text-align: center; */
    height: 180px;
  }
  
  .container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* max-width: 1200px; */
    /* max-height: 100%; */
    height: 180px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .coluna {
    display: flex;
    gap: 1.5rem; 
    text-align: center;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }

  .colunaContato {
    display: flex;
    gap: 3rem; 
    text-align: center;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
  
  /* .coluna h2 {
    margin-top: 0;
  } */
  
  .coluna p {
    color: #fff;
    text-decoration:none;
  }
  
  .coluna p:hover {
    color: #ccc;
  }
  
  .direitos {
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: smaller;
    /* padding-bottom: 0%; */
  }

  .redes {
    text-align: center;
    text-wrap: nowrap;
    display: inline-block;
    padding: 12px; 
    border-radius: 50%; /* Cria um formato circular */
    transition: 0.3s; /* Transição suave */
  }
  
  .redes:hover {
    background-color: rgba(0, 0, 0, 0.329); /* Fundo circular ao passar o mouse */
    cursor: pointer; /* Muda o cursor */
  }

  .contato {
    text-wrap: nowrap;
    padding-top: 20px;
  }

  .contato:hover {
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mãozinha */
  }