.rodape {
    background-color: #111625;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .coluna {
    flex-basis: 45%;
    margin: 20px;
  }
  
  .coluna h2 {
    margin-top: 0;
  }
  
  .coluna ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .coluna li {
    margin-bottom: 10px;
  }
  
  .coluna a {
    color: #fff;
    text-decoration: none;
  }
  
  .coluna a:hover {
    color: #ccc;
  }
  
  .direitos {
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .redes {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-left: 40%;
    margin-top: 1rem;
  }

  .listaContato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }

  .contato {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-left: 35%;
    margin-top: .5rem;
  }