.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
}

.containerConteudo {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
}

