.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.painel {
  position: relative;
  width: 100vw;
  height: 20rem;
}

.imgPainel {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

